@media (max-width: 480px) {
    .md-card {
        width: 95%; /* 1 items */
    }
}
@media (min-width: 480px) {
    .md-card {
        width: 48%; /* 2 items */
        display: inline-flex;
    }
}
