<div class="d" data-ng-init="init()">
    <div class="mainContainer">

        <div id="canvasContainer" class="canvasContainer">
            <canvas id="canvas">
                Your browser does not support the canvas element.
            </canvas>
        </div>
        <div class="toolbox">
            <div class="toolset">
                <ul>
                    <li><a href="" data-ng-click="shape.ToolName = 0" class="pencil tool"> Lapiz </a> </li>
                    <li><a href="" data-ng-click="shape.ToolName = 1" class="line tool"> Linea </a> </li>
                    <li><a href="" data-ng-click="shape.ToolName = 2" class="rectangle tool"> Rectangulo </a></li>
                    <li><a href="" data-ng-click="shape.ToolName = 3" class="circle tool"> Circulo </a></li>
                    <ul>
                        <li><a href="" data-ng-click="undo()" class="undo tool"> Deshacer </a></li>
                        <li><a href="" data-ng-click="resetDraw()" class="reset tool"> Reiniciar </a></li>
                        <li><div class="tool">Color de Trazo:</div> <input type="color" data-ng-model="shape.LineColor">
                        <li><div class="tool">Color de Relleno:</div> <input type="color" data-ng-model="shape.FillStyle"></li>
                        <li><div class="tool">Trazo:</div> <input type="checkbox" data-ng-model="shape.isStroked"></li>
                        <li><div class="tool">Relleno:</div> <input type="checkbox" data-ng-model="shape.isFilled"></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Br. Michael De Abreu </p>
        <p>Br. Jose Seijas </p>
    </div>
</footer>
