.footer {
    text-align: center;
    padding: 10px 0;
    margin-top: 0px;
   font-style: white;
  background-color: black;
}

.navbar-text {
    margin-left: 15px;
}

.mainContainer {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  background-color: #bdc3c7;
}

.canvasContainer {
}

canvas {
  border-radius: 5px;
  cursor: crosshair;
  background-color: white;
  touch-action: none;
  margin: 0 auto;
}

.toolbox {
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}

.toolset ul {
  margin: 0px;
  padding: 0px;
}

.toolset li {
  display: inline-block;
  padding: 2px 5px;
}

.toolset a {
  text-decoration: none;
  color: white;
}

