<div class="d" data-ng-init="init()">
    <div class="mainContainer">
        <div id="canvasContainer" class="canvasContainer">
        </div>
        <md-divider></md-divider>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="shape.ToolName = tools.PENCIL" aria-label="Pencil">
                    <md-icon md-svg-icon="pencil"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="shape.ToolName = tools.LINE" aria-label="Line">
                    <md-icon md-svg-icon="vector-line"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="shape.ToolName = tools.RECTANGLE" aria-label="Rectangle">
                    <md-icon md-svg-icon="vector-square"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="shape.ToolName = tools.CIRCLE" aria-label="Circle">
                    <md-icon md-svg-icon="vector-circle"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="undo()" aria-label="Undo">
                    <md-icon md-svg-icon="undo-variant"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="redo()" aria-label="Redo">
                    <md-icon md-svg-icon="redo-variant"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="reset()" aria-label="Reset">
                    <md-icon md-svg-icon="note-plus-outline"></md-icon>
                </md-button>
                <md-checkbox ng-model="shape.Stroked"><div class="">Stroked</div></md-checkbox>
                <md-checkbox ng-model="shape.Filled"><div class="">Filled</div></md-checkbox>
                <div class="">Line Color:</div> <input type="color" data-ng-model="shape.LineColor">
                <div class="">Fill Color:</div> <input type="color" data-ng-model="shape.FillStyle">
            </div>
        </md-toolbar>
    </div>
</div>
