<div class="d" data-ng-init="init()">
    <div class="mainContainer">
        <div id="canvasContainer" class="canvasContainer">
        </div>
        <md-divider></md-divider>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="tool.onClick()" aria-label="{{tool.label}}" ng-repeat="tool in tools">
                    <md-icon md-svg-icon="{{tool.icon}}"></md-icon>
                </md-button>
                <md-checkbox ng-model="shape.Stroked"><div class="">Stroked</div></md-checkbox>
                <md-checkbox ng-model="shape.Filled"><div class="">Filled</div></md-checkbox>
                <div class="">Line Color:</div> <input type="color" data-ng-model="shape.LineColor">
                <div class="">Fill Color:</div> <input type="color" data-ng-model="shape.FillStyle">
            </div>
        </md-toolbar>
    </div>
</div>
